.todoItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 1100px;
    height: 50px;
    margin-top: 15px;
    padding: 10px 15px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
}

.todoItem:first-child {
    margin-top: 0;
}

.todoText {
    font-weight: 500;
}

.completedTodoText {
    color: #FF2626;
    text-decoration: line-through;
}

.uncompleteButton {
    min-width: 100px;
    height: 25px;
    border: none;
    border-radius: 5px;
    background-color: #FF2626;
    color: #fff;
    font-weight: 500;
    transition: all ease-in 0.1s;
}

.uncompleteButton:hover {
    background-color: aquamarine;
    color: #111;
    cursor: pointer;
    transform: scale(1.05);
}

.uncompleteButton:active {
    background-color: #27BAFF;
    transform: scale(1.02);
}

.completeButton {
    min-width: 100px;
    height: 25px;
    border: none;
    border-radius: 5px;
    background-color: aquamarine;
    color: #111;
    font-weight: 500;
    transition: all ease-in 0.1s;
}

.completeButton:hover {
    background-color: #FF2626;
    color: #fff;
    cursor: pointer;
    transform: scale(1.05);
}

.completeButton:active {
    background-color: #27BAFF;
    color: #fff;
    transform: scale(1.02);
}

.deleteTodo {
    width: 75px;
    height: 25px;
    border: none;
    border-radius: 5px;
    background-color: #27BAFF;
    color: #fff;
    font-weight: 500;
    transition: all ease-in 0.1s;
}

.deleteTodo:hover {
    background-color: aquamarine;
    color: #111;
    cursor: pointer;
    transform: scale(1.05);
}

.deleteTodo:active {
    background-color: #FF2626;
    transform: scale(1.02);
}