* {
    box-sizing: border-box;
}

.label {
    display: block;
    margin-top: 20px;
    text-align: center;
}

.inputBlock {
    margin-top: 15px;
}

.inputLabel {
    font-size: 20px;
    font-weight: 600;
}

.input {
    width: 225px;
    height: 33px;
    text-align: center;
    transition: all ease-in 0.15s;
}

.loginFormErrors {
    color: red;
}

.submit {
    display: block;
    width: 100px;
    height: 40px;
    margin: 20px auto 0 auto;
    border: none;
    border-radius: 5px;
    background-color: #27BAFF;
    color: #fff;
    font-weight: 600;
    transition: all ease-in 0.1s;
}

.submit:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.submit:active {
    transform: scale(1.02);
}

.submit:disabled {
    transform: none;
    cursor: auto;
    background-color: grey;
    color: aliceblue;
}