* {
    box-sizing: border-box;
}

.label {
    display: block;
    margin-top: 20px;
    text-align: center;
}

.inputBlock {
    margin-top: 15px;
}

.inputLabel {
    font-size: 20px;
    font-weight: 600;
}

.input {
    width: 225px;
    height: 33px;
    text-align: center;
    transition: all ease-in 0.15s;
}

.submit {
    display: block;
    margin: 25px auto 0 auto;
    padding: 7px 10px;
    border: 1px solid grey;
    transition: all ease 0.5s;
}

.submit:active {
    transform: scale(1.1);
}