* {
    box-sizing: border-box;
}

.profileBlock {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.infoBlock {
    width: 1200px;
    padding: 10px 13px;
    margin-bottom: 10px;
    border: 3px solid black;
}

.logoutItem {
    transition: all ease 0.2s;
    cursor: pointer;
}

.logoutItem:hover {
    font-weight: 600;
    color: red;
}

.logoutItem:active {
    font-size: 15px;
    font-weight: 500;
}

.todoBlock {
    width: 1200px;
    min-height: 600px;
    padding: 10px 13px;
    border: 3px solid black;
}

.todoCreateBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 150px;
    width: 100%;
    border-bottom: 2px solid black;
}

.todoItemsBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 375px;
    padding: 30px 15px;
    margin-top: 30px;
    background-color: #F7F7F7;
}

.noTodoBlock {
    padding: 10px 12px;
    border: 1px solid black;
    font-weight: 500;
}